* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}


html {
   font-size: $base-font;
}

body {
   font-family: Montserrat, Roboto, sans-serif;
}


.accent {
   color: #1ba47f;
   font-weight: 700;
}

.text {
   color: $secondary-color;
}

h1 {
   margin: 35px 0 45px;
   color: $primary-color;
}

h3 {
   margin-top: 10px;
   margin-bottom: 10px;
}
